.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sidenav-container {
  flex: 1;
}

.mat-list-item {
  color: black;
  opacity: 0.6;
}

.mat-drawer {
  background: White;
}

.sidenav-content {
  display: flex;
  height: 100%; 
}
