<mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="mat-elevation-z3" #sidenav mode="side" opened="true">
        <mat-nav-list>
            <a mat-list-item >
                <!-- <mat-icon mat-list-icon>menu</mat-icon>
                <div [@openClose]="isOpen ? 'open' : 'closed'">
                    <p class="mat-list-text" matLine>
                        <mat-icon mat-list-icon>arrow</mat-icon>
                    </p>
                </div> -->
            </a>

            <a mat-list-item (click)="toggle()">
                <mat-icon mat-list-icon>menu</mat-icon>
                <div [@openClose]="isOpen ? 'open' : 'closed'">
                    <p class="mat-list-text" matLine>
                        <mat-icon mat-list-icon>arrow</mat-icon>
                    </p>
                </div>
            </a>

            <mat-divider></mat-divider>

            <a mat-list-item (click)="toggleActive($event)" routerLink="/dashboard">
                <mat-icon mat-list-icon>account_circle</mat-icon>
                <div [@openClose]="isOpen ? 'open' : 'closed'">
                    <p class="mat-list-text" matLine>Dashboard</p>
                </div>
            </a>

            <mat-divider></mat-divider>

            <a mat-list-item (click)="toggleActive($event)" routerLink="/errands">
                <mat-icon mat-list-icon>assignment</mat-icon>
                <div [@openClose]="isOpen ? 'open' : 'closed'">
                    <p class="mat-list-text" matLine>Ärende</p>
                </div>
            </a>
            <a mat-list-item (click)="toggleActive($event)">
                <mat-icon mat-list-icon>star</mat-icon>
                <div [@openClose]="isOpen ? 'open' : 'closed'">
                    <p class="mat-list-text" matLine>Starred</p>
                </div>
            </a>
            <a mat-list-item (click)="toggleActive($event)">
                <mat-icon mat-list-icon>drafts</mat-icon>
                <div [@openClose]="isOpen ? 'open' : 'closed'">
                    <p class="mat-list-text" matLine>Drafts</p>
                </div>
            </a>

            <mat-divider></mat-divider>

            <a mat-list-item (click)="toggleActive($event)">
                <mat-icon mat-list-icon>mail</mat-icon>
                <div [@openClose]="isOpen ? 'open' : 'closed'">
                    <p class="mat-list-text" matLine>All Mail</p>
                </div>
            </a>
            <a mat-list-item (click)="toggleActive($event)">
                <mat-icon mat-list-icon>delete</mat-icon>
                <div [@openClose]="isOpen ? 'open' : 'closed'">
                    <p class="mat-list-text" matLine>Trash</p>
                </div>
            </a>
            <a mat-list-item (click)="toggleActive($event)">
                <mat-icon mat-list-icon>warning</mat-icon>
                <div [@openClose]="isOpen ? 'open' : 'closed'">
                    <p class="mat-list-text" matLine>Spam</p>
                </div>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <div (click)="toggle(false)" class="sidenav-content">
        <div class="content-continer">
            <ng-content></ng-content>
        </div>
    </div>
</mat-sidenav-container>