.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sidenav-container {
  flex: 1;
}

.mat-list-item {
  color: black;
  opacity: 0.6;
}

.mat-drawer {
  background: White;
}

mat-sidenav {
  position: fixed;
  // position: -webkit-sticky; /* For macOS/iOS Safari */
  // top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 999; /* Ensure that your app's content doesn't overlap the toolbar */
}

// .sidenav-content {
// display: flex;
// height: 100%;
// width: 100%;
// }

.content-continer {
  margin: 1em;
}
